body {
    font-family:sans-serif;
    margin:1rem 1rem;
}

h1 {
    font-weight:normal;
}

h1 a {
    text-decoration:none;
}

body,
h1 a {
    color:black;
}

.site-title {
    font-size:1.25rem;
    //letter-spacing:.04rem;
    margin:0 0 1.125rem;
    word-spacing:.125rem;
}

img {
    max-width:100%;
}

.piece-info {
    margin-top:1rem;
}

.piece {
    margin-bottom:2.25rem;
}

@media (min-width: 700px) {
    #pieces {
        display:grid;
        grid-template-columns: auto auto;
        justify-content: space-between;	
    }

    .piece {
        max-width:20rem;
    }
}

@media (min-width: 1024px) {
    #pieces {
        grid-template-columns: auto auto auto;
    }

    .piece {
        max-width:17rem;
    }
}

@media (min-width: 1280px) {
    .piece {
        max-width:21rem;
    }
}

@media (min-width: 1440px) {
    .piece {
        max-width:26rem;
    }
}
